<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <title>My Portfolio</title>
</head>
<body>
    <header>
        <h1 class="h1">Daniel's Portfolio!</h1>
        <nav>
            <ul class="nav-link-area">
                <li class="links"><a href="#about-me">About Me</a></li>
                <li class="links"><a href="#my-work">My Work</a></li>
                <li class="links"><a href="#contact-me">Contact</a></li>
                <li class="links"><a href="/files/Resume.pdf">Resume</a></li>
            </ul>
        </nav>
    </header>
    <main>{{{body}}}</main>
</body>
</html>