<main>
    <section class="subheader">
        <figure class="subtitle">Welcome!</figure>
    </section>
    <br>
    <!-- About Me Section -->
    <section>
        <aside id="about-me">
            <h2>About Me</h2>
        </aside>
        <article>
            <img class="portrait" alt="Daniel Kim" src="images/portrait.jpg">
            <p class="about-me-text"></p>
        </article>
    </section>
    <br>
    <br>
    <!-- Work Section -->
    <section>
        <aside id="my-work">
            <h2>Work</h2>
        </aside>
        <div class="work-section">
            <a href="https://github.com/PPP-Project1/Perfect-Pet-Placer">
                <div class="work-images" id="hero-image">
                    <div id="hero-subheader">
                        <h3>Perfect Pet Placer</h3>
                    </div>
                </div>
            </a>
            <a href="https://github.com/yoojeenkim/Mini-Project-2">
                <div class="work-images sub-images" id="project-image">
                    <div class="sub-subheaders">
                        <h3>CSS Snippet Cheatsheet</h3>
                    </div>
                </div>
            </a>
            <a href="https://www.a-calculator.com/basic/">
                <div class="work-images sub-images" id="calculator-image">
                    <div class="sub-subheaders">
                        <h3>The Null Report</h3>
                    </div>
                </div>
            </a>
            <a href="https://github.com/yoojeenkim/Professional-README-Generator">
                <div class="work-images sub-images" id="readme-image">
                    <div class="sub-subheaders">
                        <h3>Professional README Generator</h3>
                    </div>
                </div>
            </a>
            <a href="https://github.com/yoojeenkim/Serve-Assist">
                <div class="work-images sub-images" id="tennis-image">
                    <div class="sub-subheaders">
                        <h3>Tennis Serving Assist</h3>
                    </div>
                </div>
            </a>
        </div>
    </section>
    <br>
    <br>
    <!-- Contact Section -->
    <section>
        <aside id="contact-me">
            <h2>Contact Me</h2>
        </aside>
        <article class="contact-section">
            <a href="tel:+16615053796" class="contact-links">661.505.3796</a>
            <a href="mailto:yoojeenkim@gmail.com" class="contact-links">yoojeenkim@gmail.com</a>
            <a href="https://github.com/yoojeenkim" class="contact-links">GitHub</a>
            <a href="https://twitter.com" class="contact-links">Twitter</a>
            <a href="https://open.spotify.com/user/yoojeenkim" class="contact-links">Spotify</a>
        </article>
    </section>
</main>
<footer></footer>