* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: #ffffff;
    color: grey;
}

h1 {
    font-size: 300%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 325px;
    font-size: 125%;
}

nav a {
    background-color: unset;
    color: #52ab98;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    opacity: 50%;
}

section {
    display: flex;
}

aside {
    flex: 20%;
    padding: 20px;
    flex-wrap: wrap;
    background-color: #2b6777;
    font-size: 175%;
    color: #fff;
    font-weight:100;
}

article {
    flex: 80%;
    padding: 30px;
    background-color: #c8d8e4;
}

@media screen and (max-width: 992px) {
    nav {
        display: flex;
    }
}

@media screen and (max-width: 992px) {
    .work-image {
        display:flex;
    }
}