* {
    font: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: #ffffff;
    color: grey;
}

h1 {
    font-size: 250%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

nav a {
    background-color: unset;
    color: #52ab98;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    
}

section {
    display: flex;
}

aside {
    flex: 20%;
    padding: 20px;
    flex-wrap: wrap;
}

article {
    flex: 80%;
    padding: 30px;
}
@media screen and (max-width: 992px) {
    nav {
        
    }
}