* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: #31343d;
    color: #92cccd;
}

nav a {
    background-color: unset;
    color: #f2f2f2;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    opacity: 50%;
}

section {
    display: flex;
}

aside {
    display: flex;
    flex: 25%;
    padding: 20px;
    flex-wrap: wrap;
    background-color: #fff;
    font-size: 225%;
    color: #4b5f7d;
    font-weight: bold;
    justify-content: flex-end;
    border-right: 5px solid #4b5f7d;
}

article {
    flex: 75%;
    padding: 30px;
    background-color: #fff;
    color: #4b5f7d;
}

footer {
    text-align:center;
}

.nav-link-area {
    display: flex;
    justify-content: space-between;
    min-width: 375px;
    font-size: 125%;
}

.h1 {
    display: relative;
    border-left: 50px solid #92cccd;
    font-size: 300%;
    font-weight: bold;
    color: #31343d;
    background-color: #92cccd;
}

.links {
    text-decoration: underline;
    color: #92cccd;
}

.wallpaper {
    object-fit:cover;
    width:100%;
    height: 400px;
}

.portrait {
    display: flex;
    height: auto;
    max-width: 200px;
    float: left;
    margin: 4px 16px 2px 4px;
}

.work-image {
    display: flex;
    flex-wrap: wrap;
    border: 5px solid #92cccd;
    object-fit:cover;
    width:100%;
    height: 400px;
}

@media screen and (max-width: 992px) {
    header, .work-image {
        display: flex;
        flex-direction: column;
    }
}